body {
    background-image: url('./assets/img/background-homepage.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.intro {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    .panel {
        position: relative;
        .panel_content {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .logo {
            max-width: 300px;
            display: block;
            margin: 0 auto;
        }
        .sticky_note {
            text-align: left;
            display: block;
            margin: 0 auto;
            width: 70%;
            max-width: 450px;
            margin-top: 100px;
            margin-bottom: 100px;
            background-color: #ffeaa2;
            padding: 40px;
            box-shadow: 2px 10px 7px rgba(0,0,0,0.3);
            transform: rotate(4deg);
            p{
                font-family: 'Shadows Into Light', cursive;
                font-size: 1.5em;
                line-height: 1.65em;
                color: #555555;
            }
            @media #{$allPhones} {
                width: 90%;
            }
        }
        .down {
            display: inline-block;
            margin: 0 auto;
            img {
                width: 75px;
                height: 75px;
                transition: all ease-out .25s;
                &:hover {
                    transform: translateY(10px);
                }
            }
            @media #{$allPhones} {
                display: none;
            }
        }
    }
    .panel2 {
        form {
            display: block;
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
            label {
                display: block;
                text-align: left;
                margin-bottom: 50px;
                font-size: .75rem;
            }
            input[type=text] {
                display: block;
                width: 100%;
                background-color: rgba(255,255,255,0);
                border: 0;
                border-bottom: 3px solid #ffffff;
                font-size: 1rem;
                color: #ffffff;
                outline: none;
                padding: 10px 0;
                margin-bottom: 10px;
                transition: all ease-out .25s;
                border-radius: 0px;
            }
            input[type=submit] {
                -webkit-appearance: none;
                display: block;
                border-radius: 0;
                background-color: #fff;
                font-size: 1rem;
                width: 100%;
                border: 0;
                padding: 10px 0;
                cursor: pointer;
                outline: none;
                transition: all ease-out .25s;
                border-bottom: 5px solid rgba(0,0,0,0.1);
                margin-bottom: 1.5rem;
                &:hover, &:focus {
                    background-color: darken(#ffffff, 5%);
                }
            }
        }
    }
}