.questions {
    //    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translateX(100%);
    @media only screen and (max-height: 800px) {
        overflow-y: scroll;
    }
    .questions_logo {
        z-index: 999;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        img {
            width: 100%;
            padding: 20px;
        }
        @media only screen and (max-height: 850px) {
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
        @media #{$allPhones} {
            left: 50%;
            transform: translateX(-50%);
            max-width: 90%;
        }
    }
}

.question {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    z-index: 1;
    &:first-of-type {
        display: block;
        transform: translateX(0%);
        -ms-transform: translateX(0%);
    }
    @media #{$iphone5} {
        min-height: 900px !important;
    }
    .question_content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        @media #{$allPhones} {
            position: static !important;
            transform: translateY(0) !important;
            top: 0 !important;
        }
    }
    .text_wrapper {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
        h2 {
            @media only screen and (max-height: 850px) {
                margin-top: 100px;
            }
            @media #{$allPhones} {
                margin-top: 100px;
            }
        }
    }
    .slider_wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 800px;
        .slider {
            width: 82%;
            margin: 0 auto;
            margin-bottom: 2.5rem;
            @media #{$allPhones} {
                margin-bottom: 4rem;
            }
        }
        .noUi-handle {
            transition: all .2s cubic-bezier(0.61, 0.35, 0.42, 2);
            &:hover {
//                transform: scale(1.2);
            }
            @media #{$allPhones} {
                left: -38px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .slider_labels {
            width: 100%;
            text-align: justify;
            margin-bottom: 2.5rem;
            .money_stack {
                display: inline-block;
                width: 10%;
                margin-right: ((100%-(10*5))/5);
                transform: translateX(46%);
                transition: all .2s cubic-bezier(0.61, 0.35, 0.42, 2);
                cursor: pointer;
                &:hover {
                    transform: scale(1.2) translateX(43%);
                }
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    max-width: 100%;
                }
                @media #{$allPhones} {
                    width: 18%;
                    left: -20px;
                    position: relative;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                @media #{$iphone6} {
                    margin-right: 0.85%;
                }
                @media #{$iphone5} {
                    margin-right: 0.65%;
                }
                @media #{$allTablets} {
                    width: 15%;
                    margin-right: 4%;
                    left: -20px;
                    position: relative;
                }
            }
            @media #{$allPhones} {
                margin-bottom: 3rem;
            }
        }
        .slider_instructions {
            p {
                text-align: center;
                color: #ffffff;
            }
            margin-bottom: 1.5rem;
        }
        @media #{$allPhones} {
            width: 90%;
        }
    }
    button {
        display: block;
        position: relative;
        z-index: 2;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        color: $greenText;
        background-color: #ffffff;
        padding: 10px 0;
        font-size: 1rem;
        border: 0;
        outline: 0;
        border-bottom: 5px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all ease-out .33s;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        &:hover,
        &:focus {
            background-color: darken(#ffffff, 5%);
        }
    }
    #mktoForm_1256 {
        width: 100% !important;
    }
    .mktoForm {
        width: 100% !important;
        display: block;
    }
    .mktoButtonRow {
        width: 100% !important;
        display: block !important;
        button {
            display: block !important;
            position: relative !important;
            color: $greenText !important;
            font-family: 'Roboto Condensed', sans-serif !important;
            font-weight: 400 !important;
            text-transform: uppercase !important;
            z-index: 2 !important;
            width: 100% !important;
            max-width: 800px !important;
            margin: 0 auto !important;
            background-color: #ffffff !important;
            padding: 10px 0 !important;
            font-size: 1rem !important;
            border: 0 !important;
            outline: 0 !important;
            border-bottom: 5px solid rgba(0, 0, 0, 0.2) !important;
            cursor: pointer !important;
            transition: all ease-out .33s !important;
            margin-bottom: 1.5rem !important;
            border-radius: 0px !important;
            &:hover,
            &:focus {
                background-color: darken(#ffffff, 5%) !important;
            }
        }
    }
    button#q1Next {
        opacity: 0;
        visibility: hidden;
    }
    button.back_button {
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
        font-size: 22px;
        line-height: 25px;
        max-width: 250px;
        padding: 0px;
        transition: all ease-out .25s;
        border-bottom: 0;
        &:hover,
        &:focus {
            transform: translateX(-5px);
        }
        &:active {
            transform: translateX(-10px);
        }
        img {
            max-width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    background-size: cover;
    background-position: 0 0;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 43%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1;
        @media #{$allPhones} {
            height: 50%;
        }
    }
    .question6_form {
        width: 90%;
        margin: 0 auto;
        max-width: 600px;
        margin-bottom: 50px;
        label {
            display: block;
            background-color: rgba(0, 0, 0, 0.15);
            width: 100%;
            padding: 20px;
            padding-left: 75px;
            margin-bottom: 20px;
            transition: all ease-out .25s;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            color: #ffffff;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:before {
                display: block;
                content: ' ';
                height: 70%;
                width: 50px;
                left: 10px;
                top: 50%;
                transform: translateY(-200%);
                -ms-transform: translateY(-200%);
                background-color: #fff;
                position: absolute;
                border-radius: 50%;
                transition: all ease-out .25s;
                background-image: url('https://s3.amazonaws.com/found-money/coin.png');
                background-size: cover;
                background-position: center;
            }
        }
        input[type=radio] {
            visibility: hidden;
        }
        input[type=radio]:checked + label {
            background-color: rgba(0, 0, 0, 0.3);
        }
        input[type=radio]:checked + label:before {
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
    }
}

#question1 {
    background-image: url('https://s3.amazonaws.com/found-money/SupplyChaintech_Green.jpg');
    &:after {
        @media #{$iphone5} {
            height: 45%;
        }
        @media #{$iphone6} {
            height: 48%;
        }
    }
}

#question2 {
    background-image: url('https://s3.amazonaws.com/found-money/HighValueCare_Green.jpg');
    &:after {
        @media #{$iphone5} {
            height: 54%;
        }
        @media #{$iphone6} {
            height: 48%;
        }
    }
}

#question3 {
    background-image: url('https://s3.amazonaws.com/found-money/FinancialMgmt_Green.jpg');
    &:after {
        @media #{$iphone5} {
            height: 48%;
        }
        @media #{$iphone6} {
            height: 51%;
        }
    }
}

#question4 {
    background-image: url('https://s3.amazonaws.com/found-money/Labor_Green.jpg');
    &:after {
        @media #{$iphone5} {
            height: 38%;
        }
        @media #{$iphone6} {
            height: 41%;
        }
    }
}

#question5 {
    background-image: url('https://s3.amazonaws.com/found-money/BestPractices_Green.jpg');
    &:after {
        @media #{$iphone5} {
            height: 48%;
        }
        @media #{$iphone6} {
            height: 54%;
        }
    }
}

#question6 {
    &:after {
        display: none;
    }
    .text_wrapper {
        margin-bottom: 0px;
        p {
            margin-bottom: 0px;
            @media only screen and (max-height: 850px) {
                margin-top: 100px;
            }
            @media #{$allPhones} {
                margin-top: 100px;
            }
        }
    }
}

#question7 {
    &:after {
        display: none;
    }
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: none;
    pointer-events: none;
    .progress_number {
        width: 70px;
        height: 70px;
        overflow: hidden;
        background-color: $greenText;
        color: #ffffff;
        border-radius: 50%;
        position: relative;
        left: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        z-index: 1000;
        span {
            display: block;
            height: 70px;
            width: 70px;
            text-align: center;
            line-height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            &:first-of-type {
                transform: translateY(0%);
                -ms-transform: translateY(0%);
            }
        }
    }
    .progress_bar {
        position: absolute;
        display: block;
        width: 0%;
        height: 20px;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        //    transition: width ease-out .25s;
        @media #{$allPhones} {
            display: none;
        }
    }
}

.mktoForm {
    width: 90% !important;
    margin: 0 auto !important;
    max-width: 700px !important;
    .mktoOffset {
        display: none;
    }
    .mktoFormCol {
        width: 100% !important;
        float: none !important;
        clear: both !important;
    }
    .mktoFieldWrap {
        width: 100% !important;
        clear:both !important;
        float: none !important;
        position: relative !important;
    }
    .mktoFormRow {
        display: none !important;
    }
    .mktoFormRow:nth-child(-n+5) {
        display: block !important;
    }
    .mktoFormRow:nth-child(3) {
        width: 48% !important;
        display: inline-block !important; 
        @media #{$allPhones} {
            width: 100% !important;
            display: block !important
        }
        
    }
    .mktoFormRow:nth-child(2) {
        width: 48% !important;
        display: inline-block !important; 
        margin-right: 4% !important;
        @media #{$allPhones} {
            width: 100% !important;
            display: block !important;
        }
    }
    input[type=text], input[type=email] {
        width: 100% !important;
        display: block !important;
        float: none !important;
        clear: both !important;
        background-color: rgba(255,255,255, 0);
        border: 0;
        border-bottom: 3px solid #ffffff;
        font-size: 1rem;
        padding: 10px 0 !important;
        outline: none !important;
        font-family: 'Roboto Condensed', sans-serif !important;
        color: #ffffff !important;
        margin-bottom: 50px !important;
        border-radius: 0px !important;
    }
    label {
        color: #ffffff !important;
        font-family: 'Roboto Condensed', sans-serif !important;
        font-size: .65rem;
        margin-bottom: 10px !important;
        width: 100% !important;
        top: 0;
        transform: translateY(20px) !important;
        padding-top: 0 !important;
        @media #{$allPhones} {
            margin-bottom: 30px !important;
        }
    }
    select {
        display: none !important;
    }
}