body,
button,
input,
label {
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    font-size: calc(1em + 1vw);
}

@media screen and (min-width: 50em) {
    html {
        font-size: 1.65em;
    }
}

h1 {
    font-size: 1.602rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-size: 1.424rem;
    margin-bottom: 50px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.266rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}
button {
    font-size: .75rem;
}